<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<header th:replace="shopperWeb/header :: headerFragment"></header>

<body>
<div class="container-lg mt-5 ">
    <div class="row">
        <th:block th:include="shopperWeb/sidebar.html" ></th:block>

        <div class="col-lg-9 " id="col-lg-9"  >
            <!--            여기서부터 바디부분-->


            <div class="card-hover-shadow-2x mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="fa fa-tasks">

                    </i>&nbsp;주문서 상세정보</div>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class=" list-group list-group-flush">



                                    <!--for each-->
                                    <div class="card wish-list mb-3">
                                        <br>
                                        <h5 align="center" class="mb-4"> <span th:text="${orderNumDTO.userEmail}"></span>님께 배달완료한 주문서입니다.</h5>


                                        <!--여기서부터 for each로 돌려서 장바구니 추가되게 해야함-->
                                        <div class="card-body" th:each="orderSheet : ${orderNumList}">

                                            <div class="row mb-4">
                                                <div class="col-md-5 col-lg-3 col-xl-3">
                                                        <img th:src="@{${orderSheet.image}}" align="right" width="60%">
                                                </div>
                                                <div class="col-md-7 col-lg-9 col-xl-9">
                                                    <div>
                                                        <div class="d-flex justify-content-between">
                                                            <div>
                                                                <span th:text="${orderSheet.store}"/><br>
                                                                <h5><span th:text="${orderSheet.productName}"/></h5>
                                                                <!--                                                        <p class="mb-3 text-muted text-uppercase small">Shirt - blue</p>
                                                                                                                        <p class="mb-2 text-muted text-uppercase small">Color: blue</p>
                                                                                                                        <p class="mb-3 text-muted text-uppercase small">Size: M</p>-->
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-between align-items-center">

                                                            <p class="mb-0"><span><strong>
                                                        <span th:align="center" th:text="${orderSheet.productPrice}"/>원
                                                                * <span th:align="center" th:text="${orderSheet.amount}"/>개
                                                    </strong></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!--for each 여기까지 -->


                                        <!--주문 총 합계 테이블-->
                                        <div class="card-body">

                                            <div class="row mb-4">
                                                <table class="table table-bordered"
                                                       style="width: 70%;" align="center">

                                                    <thead>
                                                    <tr  align="center" >
                                                        <th>상품가격</th>
                                                        <th>서비스 가격</th>
                                                        <th>총 합계</th>
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    <tr class="success" align="center">
                                                        <td><span th:text="${productTot}"></span>원</td>
                                                        <td><span th:text="${deliveryCost}"></span>원</td>
                                                        <td><span th:text="${deliveryCost}+${productTot}"></span>원</td>
                                                    </tr>
                                                    </tbody>


                                                </table>

                                            </div>

                                            <form id="addressForm">
                                                <div class="inside-widget">
                                                    <label class="col-form-label col-4">주소</label>
                                                    <input type="text" class="form-control correctable"
                                                           name="address" id="address"
                                                           th:value="${session.user.address}"
                                                           required="required" readonly ="true">
                                                    <label class="col-form-label col-4" >상세주소</label>
                                                    <input type="text"
                                                           class="form-control correctable"
                                                           name="address" id="detailAddress"
                                                           th:value="${orderNumDTO.detailAddress}"
                                                           required="required">
                                                    <br>
                                                    <label class="col-form-label col-4">추가 요청사항</label>
                                                    <textarea name="request" id="request"
                                                              rows="5" cols="92" wrap="hard"
                                                              placeholder="추가 요청사항을 기입하세요."
                                                              th:text="${orderNumDTO.request}"></textarea>
                                                    <span th:if="${orderNumDTO.agree=='true'}">
                                                        <br>
                                                    <span>구매 차액을 마일리지에서 차감하는데 동의였습니다.</span>
                                                    </span>
                                                </div>

                                                <br>

                                            </form>


                                        </div>
                                        <!--주문 총 합계 테이블-->





                                    </div>
                                </ul>

                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
                <div class="d-block text-right card-footer">
                    </div>
            </div>

            <!--여기까지 바디-->
        </div>




    </div>
</div>



</body>
</html>