<div class="header">
    <h1 class="page-header">
        Dashboard
    </h1>
</div>
<div id="page-inner">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card-counter primary">
                <div class="card-content">
                        <h3 style="color: white; font-weight: bold" th:text="${revenueSum}"></h3>
                    </div>
                    <div class="card-action">
                        <strong>REVENUE</strong>
                    </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card-counter danger">
                    <div class="card-content">
                        <h3 style="color: white; font-weight: bold" th:text="${salesCount}"></h3>
                    </div>
                    <div class="card-action">
                        <strong>SALES</strong>
                    </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card-counter success ">
                    <div class="card-content">
                        <h3 style="color: white; font-weight: bold" th:text="${productCount}"></h3>
                    </div>
                    <div class="card-action">
                        <strong>PRODUCTS</strong>
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card-counter info ">
                <div class="card-content">
                    <h3 style="color: white; font-weight: bold" th:text="${totalMember}"></h3>
                </div>
                <div class="card-action">
                    <strong>USERS</strong>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <!-- /. ROW  -->
    <div class="row">
        <div class="col-md-8">
            <div class="card" style="margin-left: 10px">
                <canvas id="lineChart"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <canvas  id="docutChart" style="height: 60px; width: 60px; " th:data-shopper="${NumOfCS}"></canvas>
            </div>
        </div>
        <!--/.row-->
    </div>

    <br>
    <div class="row">
        <!--스토어 판매 순위-->
        <div class="col-md-4">
            <div class="card" style="margin-left: 10px">
                <div class="card-header">
                    <h4>Store Rank</h4>
                </div>
                <div class="card-body">
                    <ol class="border" id="storeRank">

                    </ol>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card" style="margin-bottom: 10px">
                <div class="card-header" style="background-color: #00796B">
                    <h4 style="color:white">오늘 주문량</h4>
                </div>
                <div class="card-body" style="height: 400px">
                    <p style= "margin-top: 120px; font-weight: bold; font-size: 90pt; text-align: center; color: #0c5460" th:text="${todaySales}"></p>
                </div>
            </div>

        </div>


    </div>


</div>
