<div class="header">
    <h1 class="page-header">
        Dashboard
    </h1>
</div>
<div id="page-inner">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card-counter primary">
                <div class="card-content">
                        <h3 th:text="${revenueSum}"></h3>
                    </div>
                    <div class="card-action">
                        <strong>REVENUE</strong>
                    </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card-counter danger">
                    <div class="card-content">
                        <h3 th:text="${salesCount}"></h3>
                    </div>
                    <div class="card-action">
                        <strong>SALES</strong>
                    </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card-counter success ">
                    <div class="card-content">
                        <h3 th:text="${productCount}"></h3>
                    </div>
                    <div class="card-action">
                        <strong>PRODUCTS</strong>
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card-counter info ">
                <div class="card-content">
                    <h3 th:text="${totalMember}"></h3>
                </div>
                <div class="card-action">
                    <strong>USERS</strong>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <!-- /. ROW  -->
    <div class="row">
        <div class="">
            <div class="card" style="margin-left: 30px; float: left">
                <canvas style=" height: 400px; width:670px;" id="lineChart"></canvas>
            </div>
        </div>

            <div>
                <div class="card" style="width: 400px; height: 400px; float: right; margin-left: 10px">
                    <canvas  id="docutChart" style="height: 80px; width: 80px; " th:data-shopper="${NumOfCS}"></canvas>
                </div>
            </div>


    </div>

</div>