<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src ="/js/app/firstPage.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdS5W1qSmSbGZLSreq8uW98zyDy_mYYR8&libraries=places&callback=initAutocomplete"
        defer></script>
</body>
</html>