<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>

    <header th:replace="/clientWeb/header :: headerFragment"></header>
    <style>
        .fa-star{
            color:#eebe4a;
        }
        .fa-star-o{
            color:#eebe4a;
        }
        .fa-star-half-full{
            color:#eebe4a;
        }

        .dropbtn{
            background-color: #f9f9f9;
            font-size: 20px;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }
        .dropdown{
            position: relative;
            display: inline-block;
        }
        .dropdown-content{
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            cursor: pointer;
        }
        .dropdown-content a:hover {background-color: #f1f1f1}
        .show{
            display: block;
        }
    </style>

</head>
<body>

<!--section부분 / what's in my bag-->
<th:block th:include="/clientWeb/wmSection.html"></th:block>
<!--section부분-->


<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">

            <th:block th:include="/clientWeb/mypageSidebar.html"></th:block>

            <div class="col-lg-8 col-md-7 order-md-1 order-1">

                <!--            여기서부터 바디부분-->
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <div class="section-title" style="margin-top:0; padding-top:0; border-top: 0px solid #ebebeb;">
                            <h2>주문 내역</h2>
                        </div>
                    </div>
                </div>
                <br>


                <div class="card-hover-shadow-2x mb-3 card">
                    <div class="scroll-area-sm">
                        <perfect-scrollbar class="ps-show-limits">
                            <div style="position: static;" class="ps ps--active-y">
                                <div class="ps-content">
                                    <nav class=" list-group list-group-flush">


                                        <!--for each-->
                                        <li class="list-group-item" th:each="orderNumList : ${orderNumList}">

                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">

                                                    <a class="widget-content-left"
                                                       style="
                                                        color: darkgreen;
                                                        font-size: 1.5em;
                                                        font-weight: bold;
                                                        "
                                                       th:href="@{'/clientWeb/viewOrderSheet/'+${orderNumList.orderNum}}">
                                                                <span id="orderNum"
                                                                      th:value="${orderNumList.orderNum}"
                                                                      th:text="${orderNumList.orderNum}"/>번 주문서

                                                    </a>
                                                    <div class="widget-subheading">
                                                        <span th:if="${orderNumList.shopper != null}">
                                                            <div style="margin: 15px;">
                                                                <img src="img/matching.png" style="width:10%"/>
                                                                <div class="dropdown" >
                                                                    <button id="accuse" class="dropbtn"
                                                                        th:text="${orderNumList.shopper}"
                                                                        th:data-useremail="${orderNumList.userEmail}" th:data-shopper="${orderNumList.shopper}">
                                                                    </button>님과 매칭 되셨어요!
                                                                </div>
                                                            </div>
                                                            <div style="margin-left: 10px;">
                                                            <a class="btn btn-outline-success btn-sm" href='/chat/clientChatting'>
                                                                채팅하러 가기</a>
                                                            &nbsp;&nbsp;&nbsp;<span align="center" class='btn btn-success btn-sm'
                                                                                    th:onclick="|javascript:finishOrder('${orderNumList.orderNum}')|">
                                                                거래 종료</span>
                                                            </div>
                                                        </span>
                                                        <span th:if="${orderNumList.shopper == null}">
                                                        아직 shopper와 매칭되지 않았습니다!
                                                        </span>
                                                    </div>



                                                    <div class="widget-content-right">
                                                        <!--                                                    <span th:if="${orderNumList.shopper == null}">
                                                                                                                <button class="border-0 btn-transition btn btn-outline-success"><i
                                                                                                                        class="fa fa-check"></i></button>
                                                                                                                <button class="border-0 btn-transition btn btn-outline-danger"><i
                                                                                                                        class="fa fa-trash"></i></button>
                                                                                                            </span>-->
                                                    </div>
                                                </div>

                                            </div>
                                        </li>
                                    </nav>
                                    <!--for each 여기까지 -->

                                    </ul>

                                </div></div>
                        </perfect-scrollbar>
                    </div>
                </div>

                <!--for each 여기까지 -->

            </div>
        </div>
        </perfect-scrollbar>
    </div>

    </div>

    </div>
    </div>
    </div>
    </div>
    </div>

</section>

<!-- Blog Details Section End -->


<footer th:replace="/clientWeb/footer :: footerFragment"></footer>

<script>
    $(document).ready(function () {
        $('#accuse').click(function () {
            myFunction($(this).data('shopper'),$(this).data('useremail'));
        });

        $('#content').on('keyup', function() {

            if($(this).val().length > 100) {

                alert("글자수는 100자로 이내로 제한됩니다.");

                $(this).val($(this).val().substring(0, 100));

            }

        });
    });

    function myFunction(shopper,useremail) {
        //shopper score 가져오기
        let stars ='';
        $.ajax({
                type: 'POST',
                url: '/getShopperScore',
                data: {shopper:shopper},
                datatype: 'json',
                success : function (data) {
                  let intScore = parseInt(data);
                  let doubleScore = parseFloat(data)-intScore;
                  if(data==0){
                      stars += '<i class="fa fa-smile-o fa-2x">첫 배달이에요!</i>';
                  }else{
                      for(let i=0; i<intScore ;i++){
                          stars += '<i class="fa fa-star fa-3x"></i>';
                      }
                      if(doubleScore>=0.5){
                          stars +='<i class="fa fa-star-half-full fa-3x"></i>';
                      }

                  }
                    const { value: text } = Swal.fire({
                        title: shopper,
                        html: stars,
                        input:'textarea',
                        inputPlaceholder: '신고 내용을 입력하세요',
                        showCancelButton: true,
                        cancelButtonColor: '#3085d6',
                        confirmButtonColor: '#d33',
                        confirmButtonText: '신고하기!',
                        cancelButtonText: '확인',
                        inputValidator: (value) => {
                            //신고하기를 눌렀을때 일어나는 이벤트
                            if (value) {
                                var data ={
                                    useremail: useremail,
                                    shopper: shopper,
                                    content: value
                                }
                                $.ajax({
                                    type: 'POST',
                                    url: '/blackListSave',
                                    data: JSON.stringify(data),
                                    contentType: 'application/json; charset=utf-8',
                                }).done(function () {
                                    alert('해당 회원을 신고하였습니다.');
                                    $("#myModal").modal("hide");

                                }).fail(function (error) {
                                    alert(JSON.stringify(error));
                                });
                            }
                        }
                    })

                },
                error: function (error) {
                 alert('data error');
              }
        })



    }


    //주문 제거
    function finishOrder(orderNum) {
        Swal.fire({
            title: '쇼퍼로부터 배달을 받으셨나요?',
            text: "거래를 종료합니다.",
            icon: 'success',
            showCancelButton: true,
            confirmButtonColor: '#00B23B',
            cancelButtonColor: '#dd3333',
            confirmButtonText: '네, 수령했어요!',
            cancelButtonText: '아직이요.'
        }).then((result) => {
            if (result.value) {
                let wrap = document.createElement('div');
                wrap.setAttribute('class', 'text-muted');
                wrap.innerHTML =
                    //sad
                    '<button onclick="reply(\'sad\')" type="button" value="sad" class="btn feel">' +
                    '<i class="fa fa-frown-o fa-3x"></i></button>' +
                    //일반
                    '<button onclick="reply(\'neutral\')" type="button" value="neutral" class="btn feel">' +
                    '<i class="fa fa-meh-o fa-3x"></i></button>' +
                    //기쁨
                    '<button onclick="reply(\'happy\')" type="button" value="happy" class="btn feel">' +
                    '<i class="fa fa-smile-o fa-3x"></i></button><hr>'

                swal({
                    title: "",
                    text: "쇼퍼님의 서비스는 어떠셨나요?",
                    icon: "info",
                    className: '',
                    closeOnClickOutside: false,
                    content: {
                        element: wrap
                    },
                    buttons: {
                        confirm: {
                            text: "제출하기",
                            value: '',
                            visible: true,
                            className: "btn btn-default",
                            closeModal: true,
                        }
                    },
                }).then((value) => {
                    let score;
                    if (value === 'sad') {
                        score=1;
                        swal("다음엔 더 좋은 서비스를 제공할게요!", {
                            icon: "success",
                            buttons: false
                        });
                    } else if (value === 'neutral') {
                        score=3;
                        swal("더 노력하겠습니다!", {
                            icon: "success",
                            buttons: false
                        });
                    } else if (value === 'happy') {
                        score=5;
                        swal("앞으로도 많이 이용해주세요!", {
                            icon: "success",
                            buttons: false
                        });
                    }

                    $.ajax({
                        url: "/finishOrder",
                        data: {
                            orderNum: orderNum,
                            score : score
                        },
                        type: "POST",
                        success: function () {
                            location.href = '/myOrderList';

                        }
                    });

                });


            }
        })


    };


    function reply(feel){
        swal.setActionValue(feel);
    }
</script>
</body>
</html>