<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>

    <header th:replace="clientWeb/header :: headerFragment"></header>
    <style>
        .dropbtn{
            background-color: #f9f9f9;
            font-size: 20px;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }
        .dropdown{
            position: relative;
            display: inline-block;
        }
        .dropdown-content{
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            cursor: pointer;
        }
        .dropdown-content a:hover {background-color: #f1f1f1}
        .show{
            display: block;
        }
    </style>

</head>
<body>

<!--section부분 / what's in my bag-->
<th:block th:include="clientWeb/wmSection.html"></th:block>
<!--section부분-->


<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">

            <th:block th:include="clientWeb/mypageSidebar.html"></th:block>

            <div class="col-lg-8 col-md-7 order-md-1 order-1">

                <!--            여기서부터 바디부분-->
                <div>
                   <h2>My Order List</h2>
                </div>
                <br>


                <div class="card-hover-shadow-2x mb-3 card">
                    <div class="scroll-area-sm">
                        <perfect-scrollbar class="ps-show-limits">
                            <div style="position: static;" class="ps ps--active-y">
                                <div class="ps-content">
                                    <nav class=" list-group list-group-flush">


                                        <!--for each-->
                                        <li class="list-group-item" th:each="orderNumList : ${orderNumList}">

                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">

                                                    <a class="widget-content-left"
                                                       style="
                                                        color: darkgreen;
                                                        font-size: 1.5em;
                                                        font-weight: bold;
                                                        "
                                                       th:href="@{'/clientWeb/viewOrderSheet/'+${orderNumList.orderNum}}">
                                                                <span id="orderNum"
                                                                      th:value="${orderNumList.orderNum}"
                                                                      th:text="${orderNumList.orderNum}"/>번 주문서

                                                    </a>
                                                    <div class="widget-subheading">
                                                        <span th:if="${orderNumList.shopper != null}">
                                                        &emsp;<img src="img/matching.png" style="width:10%">
                                                        &emsp;&emsp;
<!--                                                            <strong ><span-->
<!--                                                                    style="font-size: 20px;"-->
<!--                                                                    th:text="${orderNumList.shopper}"></span></strong>-->
<!--                                                            님과 매칭되셨어요!<br>-->
<!--                                                            &nbsp;<span class="btn-outline-success" onclick="location.href='/clientChatting'">-->
<!--                                                                채팅하러 가기</span>-->
                                                            &emsp;&emsp;


                                                            <div class="dropdown">
                                                                <button onclick="myFunction()" class="dropbtn"
                                                                        th:text="${orderNumList.shopper}"></button>님과 매칭 되셨어요!
                                                                <div id="myDropdown" class="dropdown-content">
                                                                    <a id="accuse" data-target="#myModal" data-toggle="modal" href="#myModal" th:data-useremail="${orderNumList.userEmail}" th:data-shopper="${orderNumList.shopper}">신고하기</a>
                                                                </div>
                                                            </div>


                                                            <br>
                                                            &nbsp;<a class="btn btn-outline-success btn-sm" href='/chat/clientChatting'>
                                                                채팅하러 가기</a>
                                                            <a class="btn-success" style="cursor:pointer;"
                                                                  th:onclick="|javascript:finishOrder('${orderNumList.orderNum}')|">
                                                                거래 종료</a>
                                                            &nbsp;&nbsp;&nbsp;<span align="center" class='btn btn-success btn-sm'
                                                                  th:onclick="|javascript:finishOrder('${orderNumList.orderNum}')|">
                                                                거래 종료</span>
                                                        </span>
                                                        <span th:if="${orderNumList.shopper == null}">
                                                        아직 shopper와 매칭되지 않았습니다!
                                                        </span>
                                                    </div>



                                                    <div class="widget-content-right">
<!--                                                    <span th:if="${orderNumList.shopper == null}">
                                                        <button class="border-0 btn-transition btn btn-outline-success"><i
                                                                class="fa fa-check"></i></button>
                                                        <button class="border-0 btn-transition btn btn-outline-danger"><i
                                                                class="fa fa-trash"></i></button>
                                                    </span>-->
                                                    </div>
                                                </div>

                                            </div>
                                        </li>
                                    </nav>
                                <!--for each 여기까지 -->

                                </ul>

                                </div></div>
                        </perfect-scrollbar>
                    </div>
                </div>
                <!--모달 시작-->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">신고하기</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <table>
                                        <tr>
                                            <td style="text-align: center">신고자 : </td>
                                            <td><input type="text" id="useremail" style="border: none"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center">신고할 회원 : </td>
                                            <td><input type="text" id="shopper" style="border: none"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center">신고 사유</td>
                                            <td><textarea id="content" placeholder="신고 사유를 100자 이내로 작성해주세요." style="resize: none; width:350px; height: 100px;"></textarea></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="text-align: center"><button type="button" id="btn-save" class="btn btn-primary">제출</button></td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                            <!--<div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>-->
                        </div>

                    </div>
                </div>


            <!--for each 여기까지 -->

        </div>
    </div>
    </perfect-scrollbar>
    </div>

    </div>

    </div>
    </div>
    </div>
    </div>
    </div>

</section>

<!-- Blog Details Section End -->


<footer th:replace="clientWeb/footer :: footerFragment"></footer>

<script>
    $(document).ready(function () {
        $('#accuse').click(function () {
            $('#useremail').val($(this).data('useremail'));
            $('#shopper').val($(this).data('shopper'));
        });

        $('#content').on('keyup', function() {

            if($(this).val().length > 100) {

                alert("글자수는 100자로 이내로 제한됩니다.");

                $(this).val($(this).val().substring(0, 100));

            }

        });
    });

    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
    $('#btn-save').on('click',function () {
        var data ={
            useremail: $('#useremail').val(),
            shopper: $('#shopper').val(),
            content: $('#content').val()
        }
        $.ajax({
            type: 'POST',
            url: '/blackListSave',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
        }).done(function () {
            alert('해당 회원을 신고하였습니다.');
            $("#myModal").modal("hide");

        }).fail(function (error) {
            alert(JSON.stringify(error));
        });
    });
    //주문 제거
    function finishOrder(orderNum) {
        Swal.fire({
            title: '쇼퍼로부터 배달을 받으셨나요?',
            text: "거래를 종료합니다.",
            icon: 'success',
            showCancelButton: true,
            confirmButtonColor: '#00B23B',
            cancelButtonColor: '#dd3333',
            confirmButtonText: '네, 수령했어요!',
            cancelButtonText: '아직이요.'
        }).then((result) => {
            if (result.value) {
                let wrap = document.createElement('div');
                wrap.setAttribute('class', 'text-muted');
                wrap.innerHTML =
                    //sad
                    '<button onclick="reply(\'sad\')" type="button" value="sad" class="btn feel">' +
                    '<i class="fa fa-frown-o fa-3x"></i></button>' +
                    //일반
                    '<button onclick="reply(\'neutral\')" type="button" value="neutral" class="btn feel">' +
                    '<i class="fa fa-meh-o fa-3x"></i></button>' +
                    //기쁨
                    '<button onclick="reply(\'happy\')" type="button" value="happy" class="btn feel">' +
                    '<i class="fa fa-smile-o fa-3x"></i></button><hr>'

                swal({
                    title: "",
                    text: "쇼퍼님의 서비스는 어떠셨나요?",
                    icon: "info",
                    className: '',
                    closeOnClickOutside: false,
                    content: {
                        element: wrap
                    },
                    buttons: {
                        confirm: {
                            text: "제출하기",
                            value: '',
                            visible: true,
                            className: "btn btn-default",
                            closeModal: true,
                        }
                    },
                }).then((value) => {
                    let score;
                    if (value === 'sad') {
                        score=1;
                        swal("다음엔 더 좋은 서비스를 제공할게요!", {
                            icon: "success",
                            buttons: false
                        });
                    } else if (value === 'neutral') {
                        score=3;
                        swal("더 노력하겠습니다!", {
                            icon: "success",
                            buttons: false
                        });
                    } else if (value === 'happy') {
                        score=5;
                        swal("앞으로도 많이 이용해주세요!", {
                            icon: "success",
                            buttons: false
                        });
                    }

                    $.ajax({
                        url: "/finishOrder",
                        data: {
                            orderNum: orderNum,
                            score : score
                        },
                        type: "POST",
                        success: function () {
                            location.href = '/myOrderList';

                        }
                    });

                });


            }
        })


    };


</script>
</body>
</html>