<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>네이버 결제 페이지</title>
</head>
<body>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script type="text/javascript" th:inline="javascript">
    let orderNum = [[${orderNum}]];
    let payTot = [[${payTot}]];
    let userEmail = [[${userEmail}]];
    let userName = [[${userName}]];

    $(function () {
        var IMP = window.IMP; // 생략가능
        IMP.init('imp60010137'); // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
        var msg;
        IMP.request_pay({
            pg : 'html5_inicis', // version 1.1.0부터 지원.
            pay_method : 'card',
            merchant_uid : 'merchant_' + new Date().getTime(),
            name : 'WM 결제',
            amount : payTot,
            buyer_email :userEmail,
            buyer_name : userName,
            buyer_tel : '010-1234-5678',
            buyer_addr : '',
            buyer_postcode : ''
//                        m_redirect_url : 'https://www.yourdomain.com/payments/complete'
        }, function(rsp) {
            if ( rsp.success ) {
                var msg = '결제가 완료되었습니다.';
                alert(msg);
                $.ajax({
                    url: "/updatePay",
                    data: {orderNum: orderNum},
                    type: "POST",
                });

                location.href='/payComplete';
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
                alert(msg);
                location.href='/payFail';

            }
        });
    });

</script>

</body>
</html>