<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>

    <header th:replace="clientWeb/header :: headerFragment"></header>

</head>
<body>

<!--section부분 / what's in my bag-->
<th:block th:include="clientWeb/wmSection.html"></th:block>
<!--section부분-->


<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">

            <th:block th:include="clientWeb/mypageSidebar.html"></th:block>

            <div class="col-lg-8 col-md-7 order-md-1 order-1"
                 style="
                   background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;
                   background-image:url('/img/nolistBack4.png');">

                <div class="blog__details__content">
                    <br><br><br>
                    <h2 style="margin-left: 20px"> 결제에 실패했습니다. </h2>
                    <h6> 결제 대기중인 주문서 페이지에서 결제를 다시 진행해주세요.</h6>
                    <span class="btn-outline-success" onclick="location.href='/toPayList'"></span>
                        <br>
                </div>


            </div>
        </div>
    </div>

</section>

<!-- Blog Details Section End -->


<footer th:replace="clientWeb/footer :: footerFragment"></footer>


</body>
</html>