<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>clientWebLayout</title>

    <header th:replace="clientWeb/header :: headerFragment"/>

</head>
<body>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background: #1e7e34" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2><span th:text="${mart}"/></h2>
                    <!--..---------------------------.............-->

                    <!--....................-->
                    <div class="breadcrumb__option">
                        <a href="./index">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Department</h4>
                        <ul>
                            <li><a href="./productSearch">Fresh Meat</a></li>
                            <li><a href="./productSearch">Vegetables</a></li>
                            <li><a href="./productSearch">Fruit & Nut Gifts</a></li>
                            <li><a href="./productSearch">Fresh Berries</a></li>
                            <li><a href="./productSearch">Ocean Foods</a></li>
                            <li><a href="./productSearch">Butter & Eggs</a></li>
                            <li><a href="./productSearch">Fastfood</a></li>
                            <li><a href="./productSearch">Fresh Onion</a></li>
                            <li><a href="./productSearch">Papayaya & Crisps</a></li>
                            <li><a href="./productSearch">Oatmeal</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sort By</span>
                                <select>
                                    <option value="0">Default</option>
                                    <option value="0">Default</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>16</span> Products found</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 제품 데이터 시작-->
                <div class="row">




                    <div class="col-lg-4 col-md-6 col-sm-6" th:each="product : ${productList}">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <img data-toggle="modal" data-target="#myModal" th:src="@{'/img/product/'+${product.image}}">
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
<!--                                    th:onclick="|javascript:putInCart('${product.productId}')|"-->
                                    <li th:onclick="|javascript:putInCart('${product.productId}')|"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><span th:text="${product.productName}" data-toggle="modal" data-target="#myModal"/></h6>
                                <h5> <span th:text="${product.productPrice}"/>원</h5>
                            </div>
                        </div>
                    </div>


                            <!--모달-->
                            <th:block th:include="clientWeb/productModal.html" ></th:block>


                    <!-- 제품 데이터 끝-->
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Product Section End -->


<footer th:replace="clientWeb/footer :: footerFragment"/>

<script type="text/javascript">

function putInCart(productId) {
    alert(productId);



}

</script>



</body>
</html>