<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>

    <header th:replace="clientWeb/header :: headerFragment"></header>

</head>
<body>

<!--section부분 / what's in my bag-->
<th:block th:include="clientWeb/wmSection.html"></th:block>
<!--section부분-->


<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">

            <th:block th:include="clientWeb/mypageSidebar.html"></th:block>

            <div class="col-lg-8 col-md-7 order-md-1 order-1">

                <!--            여기서부터 바디부분-->
                <div>
                   <h2>My Order List</h2>
                </div>
                <br>


                <div class="card-hover-shadow-2x mb-3 card">
                    <div class="scroll-area-sm">
                        <perfect-scrollbar class="ps-show-limits">
                            <div style="position: static;" class="ps ps--active-y">
                                <div class="ps-content">
                                    <ul class=" list-group list-group-flush">


                                        <!--for each-->
                                        <li class="list-group-item" th:each="orderNumList : ${orderNumList}">

                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">

                                                    <a class="widget-content-left"
                                                       style="
                                                        color: darkgreen;
                                                        font-size: 1.5em;
                                                        font-weight: bold;
                                                        "
                                                       th:href="@{'/clientWeb/viewOrderSheet/'+${orderNumList.orderNum}}">
                                                                <span id="orderNum"
                                                                      th:value="${orderNumList.orderNum}"
                                                                      th:text="${orderNumList.orderNum}"/>번 주문서

                                                    </a>
                                                    <div class="widget-subheading">
                                                        <span th:if="${orderNumList.shopper != null}">
                                                        &emsp;<img src="img/matching.png" style="width:10%">
                                                        &emsp;&emsp;
                                                            <strong ><span
                                                                    style="font-size: 20px;"
                                                                    th:text="${orderNumList.shopper}"></span></strong>
                                                            님과 매칭되셨어요!<br>
                                                            &nbsp;<span class="btn-outline-success" onclick="location.href='/clientChatting'">
                                                                채팅하러 가기</span>
                                                            &emsp;&emsp;
                                                            <span class="btn-success"
                                                                  th:onclick="|javascript:finishOrder('${orderNumList.orderNum}')|">
                                                                거래 종료</span>
                                                        </span>
                                                        <span th:if="${orderNumList.shopper == null}">
                                                        아직 shopper와 매칭되지 않았습니다!
                                                        </span>
                                                    </div>



                                                    <div class="widget-content-right">
                                                    <span th:if="${orderNumList.shopper == null}">
                                                        <button class="border-0 btn-transition btn btn-outline-success"><i
                                                                class="fa fa-check"></i></button>
                                                        <button class="border-0 btn-transition btn btn-outline-danger"><i
                                                                class="fa fa-trash"></i></button>
                                                    </span>
                                                    </div>
                                                </div>

                                            </div>
                                        </li>
                                <!--for each 여기까지 -->

                                </ul>

                                </div></div>
                        </perfect-scrollbar>
                    </div>
                </div>


            <!--for each 여기까지 -->

        </div>
    </div>
    </perfect-scrollbar>
    </div>

    </div>

    </div>
    </div>
    </div>
    </div>
    </div>

</section>

<!-- Blog Details Section End -->


<footer th:replace="clientWeb/footer :: footerFragment"></footer>

<script>
    //주문 제거

    function finishOrder(orderNum) {
        Swal.fire({
            title: '쇼퍼로부터 배달을 받으셨나요?',
            text: "거래를 종료합니다.",
            icon: 'success',
            showCancelButton: true,
            confirmButtonColor: '#00B23B',
            cancelButtonColor: '#d33',
            confirmButtonText: '네, 수령했어요!',
            cancelButtonText: '아직이요.'
        }).then((result) => {
            if (result.value) {

                $.ajax({
                    url: "/finishOrder",
                    data: {orderNum: orderNum},
                    type: "POST",
                    success: function () {
                        alert('거래 종료');
                        location.href = '/myOrderList';

                    }
                });

            }
        })


    };

</script>
</body>
</html>