<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>

    <header th:replace="clientWeb/header :: headerFragment"></header>

</head>
<body>

<!--section부분 / what's in my bag-->
<th:block th:include="clientWeb/wmSection.html" ></th:block>
<!--section부분-->



<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">

            <th:block th:include="clientWeb/mypageSidebar.html" ></th:block>

            <div class="col-lg-8 col-md-7 order-md-1 order-1">


                <div class="blog__details__content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="signup-form">
                                <form action="/examples/actions/confirmation.php" method="post" class="form-horizontal">
                                    <div class="row">
                                        <div class="col-8 offset-4">
                                            <h2>My Info</h2>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-4">Username</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" name="username" th:value="${session.userName}" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-4">이메일</label>
                                        <div class="col-8">
                                            <input type="email" class="form-control" name="email" th:value="${session.userEmail}" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-4">주소</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" name="address" th:value="${session.userAddress}" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-4">비밀번호</label>
                                        <div class="col-8">
                                            <input type="password" class="form-control" name="password" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-4">비밀번호 확인</label>
                                        <div class="col-8">
                                            <input type="password" class="form-control" name="confirm_password" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-8 offset-4">
                                            <button type="submit" class="btn btn-primary btn-lg">저장하기 </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

        </div>
    </div>
            </div>
        </div>
    </div>

</section>

<!-- Blog Details Section End -->




<footer th:replace="clientWeb/footer :: footerFragment"></footer>


</body>
</html>