<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>

    <header th:replace="clientWeb/header :: headerFragment"></header>

</head>
<body>

<!--section부분 / what's in my bag-->
<th:block th:include="clientWeb/wmSection.html" ></th:block>
<!--section부분-->



<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">

            <th:block th:include="clientWeb/mypageSidebar.html" ></th:block>

            <div class="col-lg-8 col-md-7 order-md-1 order-1">
                <!--Section: Block Content-->
                <section>

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-lg-8">

                            <!-- Card -->
                            <div class="card wish-list mb-3">
                                <div class="card-body">
                                                            <!--아래에 아이템 수량써야함-->
                                    <h5 class="mb-4">Cart (<span>Ajax하기</span> items)</h5>

                                    <!--여기서부터 for each로 돌려서 장바구니 추가되게 해야함-->
                                    <div class="row mb-4">
                                        <div class="col-md-5 col-lg-3 col-xl-3">
                                            <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                                                <img class="img-fluid w-100"
                                                     src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
                                                <a href="#!">
                                                    <div class="mask waves-effect waves-light">
                                                        <img class="img-fluid w-100"
                                                             src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg">
                                                        <div class="mask rgba-black-slight waves-effect waves-light"></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-lg-9 col-xl-9">
                                            <div>
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <h5>Blue denim shirt</h5>
                                                        <p class="mb-3 text-muted text-uppercase small">Shirt - blue</p>
                                                        <p class="mb-2 text-muted text-uppercase small">Color: blue</p>
                                                        <p class="mb-3 text-muted text-uppercase small">Size: M</p>
                                                    </div>
                                                    <div>
                                                        <div class="def-number-input number-input safari_only mb-0 w-100">
                                                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                                    class="minus"></button>
                                                            <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                                    class="plus"></button>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <a href="#!" type="button" class="card-link-secondary small text-uppercase mr-3"><i
                                                                class="fas fa-trash-alt mr-1"></i> 장바구니에서 빼기 </a>
                                                    </div>
                                                    <p class="mb-0"><span><strong>$17.99</strong></span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--여기까지 for each 돌릴 문장임-->



                                </div>
                            </div>
                            <!-- Card -->



                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4">

                            <!-- Card -->
                            <div class="card mb-3">
                                <div class="card-body">

                                    <h5 class="mb-3">The total amount of</h5>

                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                            물품 가격
                                            <span>(Ajax하기)원</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                            배달비
                                            <span>5000원</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                            <div>
                                                <strong>총 결제금액</strong>
                                            </div>
                                            <span><strong>(Ajax하기)원</strong></span>
                                        </li>
                                    </ul>

                                    <button type="button" class="btn btn-primary btn-block waves-effect waves-light">결제하기</button>

                                </div>
                            </div>
                            <!-- Card -->



                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                </section>
                <!--Section: Block Content-->
                </div>


           </div>


            </div>
        </div>
    </div>

</section>



<footer th:replace="clientWeb/footer :: footerFragment"></footer>


</body>
</html>