<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>

    <header th:replace="clientWeb/header :: headerFragment"></header>

</head>
<body>

<!--section부분 / what's in my bag-->
<th:block th:include="clientWeb/wmSection.html"></th:block>
<!--section부분-->


<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">

            <th:block th:include="clientWeb/mypageSidebar.html"></th:block>

            <div class="col-lg-8 col-md-7 order-md-1 order-1">

                <!--            여기서부터 바디부분-->

                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class=" list-group list-group-flush">



                                    <!--for each-->
                                    <div class="card wish-list mb-3"
                                         style="
                                            background-repeat:no-repeat; background-position:center; background-size:cover; pading:10px;
                                            background-image:url('/img/backFruit.jpg');"
                                    >
                                        <br>
                                        <br><br><br><br><br><br>

                                        <br><br><br>

                                        <!--여기서부터 for each로 돌려서 장바구니 추가되게 해야함-->
                                        <div class="card-body" th:each="orderSheet : ${orderNumList}">

                                            <div class="row mb-4">
                                                <div class="col-md-5 col-lg-3 col-xl-3">
                                                    <img th:src="@{${orderSheet.image}}" align="right" width="60%">
                                                </div>
                                                <div class="col-md-7 col-lg-9 col-xl-9">
                                                    <div>
                                                        <div class="d-flex justify-content-between">
                                                            <div>
                                                                <span th:text="${orderSheet.store}"/><br>
                                                                <h5><span th:text="${orderSheet.productName}"/></h5>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-between align-items-center">

                                                            <p class="mb-0"><span><strong>
                                                        <span th:align="center" th:text="${orderSheet.productPrice}"/>원
                                                                * <span th:align="center" th:text="${orderSheet.amount}"/>개
                                                    </strong></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--for each 여기까지 -->


                                        <!--주문 총 합계 테이블-->
                                        <div class="card-body">

                                            <div class="row mb-4">
                                                    <table class="table table-bordered "
                                                           style="width: 70%;" align="center">

                                                        <thead>
                                                        <tr class="table-light" align="center" >
                                                            <th>상품가격</th>
                                                            <th>서비스 가격</th>
                                                            <th>총 합계</th>
                                                        </tr>
                                                        </thead>

                                                        <tbody>
                                                        <tr class="table-light" align="center">
                                                            <td><span th:text="${productTot}"></span>원</td>
                                                            <td><span th:text="${deliveryCost}"></span>원</td>
                                                            <td><span th:text="${deliveryCost}+${productTot}"></span>원</td>
                                                        </tr>
                                                        </tbody>


                                                    </table>


                                        </div>

                                            <div class="inside-widget">
                                                <label class="col-form-label col-4">주소</label>
                                                <input type="text" class="form-control correctable"
                                                       name="address" id="address"
                                                       th:value="${session.user.address}"
                                                       required="required" readonly ="true">
                                                <label class="col-form-label col-4" >상세주소</label>
                                                <input type="text"
                                                       class="form-control correctable"
                                                       name="address" id="detailAddress"
                                                       required="required"/>


                                                <br>
                                                <div align="center">


                                            </div>
                                        </div>
                                        <!--주문 총 합계 테이블-->






                                    </div>
                                </ul>

                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>


                <!--for each 여기까지 -->

            </div>
        </div>
        </perfect-scrollbar>
    </div>

    </div>

    </div>
    </div>
    </div>
    </div>
    </div>

</section>

<!-- Blog Details Section End -->


<footer th:replace="clientWeb/footer :: footerFragment"></footer>



</body>
</html>